# IDE Files and Configuration
.idea/
*.iml
.DS_Store

# Build and Output Folders
build/
app/build/
.gradle/
/captures
dist/
.tmp.driveupload/
.gradle/
.cxx/
.externalNativeBuild/

# Dependency and Package Files
node_modules/
package-lock.json
/local.properties

# Log and Temporary Files
*.log
*.env
app/local.properties
